.wrapper{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 111px;
        box-sizing: border-box;
    }
}


#card-container{
    width: 900px;
    display:flex;
    flex-wrap: wrap;
    gap: 16px;
}

.memory-backside{
    background-image: var(--img-bg);
    width: 120px;
    height: 120px;
}