.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
    gap: 54px;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 111px;
        box-sizing: border-box;
        background-color: var(--nav-bg-color);

        .current-player {
            display: flex;
            align-items: center;
            font-size: var(--font-size-current);
            font-weight: var(--font-weight-current);
            gap: 8px;
        }

        #current-player-img {
            background-image: var(--img-current-player);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 30px;
        }

        .exit-btn {
            font-family: var(--font-family);
            color: var(--font-color);
            font-weight: var(--font-weight-btn);
            font-size: var(--font-size-btn);
            background-color: var(--bg-exit-btn);
            display: flex;
            align-items: center;
            gap: 8px;
            padding: var(--padding-exit-btn);
            border: var(--border-exit-btn);
            border-radius: var(--border-exit-btn-radius);

            .img-btn {
                background-image: var(--img-btn);
                background-size: cover;
                width: 25px;
                height: 22px;
            }
        }
    }
}

.score {
    background-color: var(--points-bg-color);
    padding: var(--points-padding);
    font-family: var(--font-family);
    font-size: var(--font-size-point);
    display: flex;
    align-items: center;
    border-radius: var(--points-border-radius);

    .img-player1 {
        background-image: var(--img-player1);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 20px;
    }

    .img-player2 {
        background-image: var(--img-player2);
        width: 24px;
        height: 20px;
        margin-left: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #bl-points {
        padding-left: 6px;
    }

    #or-points {
        padding-left: 6px;
    }
}

.score {
    display: flex;
    align-items: center;
    gap: 4px;

}


#card-container {
    display: flex;
    flex-wrap: wrap;
}

.scoreboard {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: var(--scoreboard-bg-color);
    gap: 50px;

    h2 {
        font-size: 130px;
        font-family: var(--font-family);
        font-weight: var(--font-weight-scoreboard);
        color: var(--font-color-scoreboard);
    }

    h3 {
        font-size: 42px;
        color: white;
    }
}

.color-bl {
    color: #2BB1FF;
}

.color-or {
    color: #F58E39;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#winner-window {
    display: none;
    position: absolute;
    inset: 0;
    background-color: var(--scoreboard-bg-color) !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    animation: slideInFromTop 0.6s ease-out forwards;

    #winner-span {
        font-size: 40px;
        color: var(--winner-span-color);
    }

    #winner-h-bl {
        color: var(--winner-blue-color);
        font-size: 80px;
        display: none;
    }

    #winner-h-or {
        font-size: 80px;
        color: var(--winner-orange-color);
        display: none;
    }

    div {
        width: 260px;
        height: 298px;
    }

    #winner-bl {
        display: none;
        background-image: var(--img-player1);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #winner-or {
        display: none;
        background-image: var(--img-player2);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    button {
        border-style: none;
        border-radius: var(--border-exit-btn-radius);
        border: var(--border-exit-btn);
        font-size: var(--font-size-btn);
        font-weight: var(--font-weight-btn);
        color: var(--home-btn-color);
        padding: var(--padding-exit-btn);
        background-color: var(--home-btn-bg);
        box-shadow: var(--card-shadow);
    }

    #draw {
        font-size: 130px;
        color: var(--winner-span-color);
        display:none;
    }
}
#exit-window-dialog{
        position: absolute;
        inset:0;
        background-color: rgba(0, 0, 0, 0.5);
        display:none;
        align-items: center;
        justify-content: center;
        div{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 30px;
            background-color: var(--bg-exit-container);
            border-radius: 20px;
            padding: 40px;
            span{
                font-size: 32px;
                color: var(--dialog-span-color);
            }
            .btn-container{
                display:flex;
                flex-direction: row;
                font-family: var(--font-family);
                button{
                    border-radius: var(--dialog-btn-radius);
                    box-shadow: var(--card-shadow);
                }
                #back-game-btn{
                    font-size: 16px;
                    padding: 12px 20px;
                    background-color: var(--dialog-back-bg-color);
                    color: var(--dialog-back-color);
                }
                #exit-game-btn{
                    padding: 12px 20px;
                    font-size: 16px;
                    background-color: var(--dialog-exit-bg-color);
                    color: var(--dialog-exit-color);
                    border: var(--dialog-exit-border);
                }
            }
        }
}
