@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as *;

body{
    display:flex;
    height: 100vh;
    align-items: center;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    max-height:1080px;
    max-width: 1920px;
    background-color: #303131;
    @include mixin.flex-center(column);
    gap: 150px;
    position: relative;
    h1 {
        font-family: 'Red Rose';
        font-weight: 700;
        font-size: 160px;
        color: $yellow;
    }
    .controller-bg{
        position:absolute;
        left:0;
        bottom:0;
    }
}

.start-container {
    div {
        @include mixin.flex-center(column);
    }

    span {
        font-family: 'Almarai';
        font-weight: 400;
        font-size: 48px;
        color: white;
    }

    h2 {
        font-family: 'Red Rose';
        font-weight: 700;
        font-size: 120px;
        color: white;
    }
}

.play-btn{
    background-color: $yellow;
    @include mixin.flex-center(row);
    gap: 40px;
    padding: 24px;
    margin-top: 85px;
    transition: transform 0.3s ease-in-out;

    &:hover{
        transform: scale(1.1);
        .play-btn-controller{
            transform:rotate(-45deg);
        }
        .play-btn-arrow{
            transform: scale(1.2);
        }
    }
    
    .play-btn-controller{
        width: 44px;
        height: 32px;
        transition: transform 0.3s ease-in-out;
    }

    .play-btn-arrow{
        transition: transform 0.3s ease-in-out;
    }
    span{
        font-family: 'Red Rose';
        font-size: 40px;
        color: black;
        font-weight: 700;
    }
}