.settings-container{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.settings-screen{
    height:100vh;
    width:100vw;
    .title-wrapper{
        font-family: 'Red Rose';
        font-weight: 700;
        font-size: 46px;
        border-bottom: 4px solid #F0EA6E;
        position:relative;
        .diamant-border{
            position:absolute;
            width: 20px;
            height: 20px;
            background-color: #F0EA6E;
            left:-10px;
            bottom:-12px;
            transform: rotate(45deg);
        }
    }
}