.settings-wrapper {
    .title-container {
        margin-top: 54px;
        display: flex;
        gap: 16px;

        h2 {
            font-family: 'Almarai';
            font-size: 24px;
            font-weight: 700;
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        padding: 16px 44px;
        gap: 13px;

        .input-wrapper {
            display: flex;
            gap: 10px;

            img {
                position: absolute;
                width: 460px;
                height: 412px;
                right: 0;
                top: 50%;
                opacity: 0;
            }

            input[type="radio"]:checked+label {

                &::after {
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }

            input[type="radio"]:checked~img {
                opacity: 1;
            }


            &:hover {

                label {
                    font-weight: 700;

                    &::after {
                        opacity: 1;
                    }

                    &::before {
                        opacity: 1;
                    }
                }

                img {
                    opacity: 1;
                }
            }

            input[type="radio"],
            label {
                cursor: pointer;
            }
        }

        label {
            font-family: 'Almarai';
            font-size: 20px;
            font-weight: 400;
            position: relative;

            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: #F0EA6E;
                position: absolute;
                top: 50%;
                right: -50px;
                opacity: 0;
            }

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: #F0EA6E;
                position: absolute;
                top: 60%;
                right: -50px;
                opacity: 0;
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }
}